.page-cart {
  display: flex;
  flex-wrap: wrap;

  &__list {
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-right: 70px;
      flex: 0 0 70%;
    }
  }

  &__resume {
    flex-grow: 1;
  }
}
