.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  padding: 10px 0;

  &__searchform {
    flex: 0 0 100%;
  }

  @media (min-width: 768px) {
    align-items: flex-end;
    &__menu {
      order: 1;
    }
    &__shopping-cart {
      order: 3;
    }
    &__searchform {
      order: 2;
      flex: 0 0 40%;
    }
  }
}
